<div class="row-fluid">
  <div class="col-xs-8 col-md-8">
    <div class="btn-group btn-group-justified pull-right">
      <%= link_to t("view.admin.categories.index.orders"),
      admin_orders_path, class: "btn btn-default" %>
      <%= link_to t("view.admin.categories.index.products"),
      admin_products_path, class: "btn btn-default" %>
      <%= link_to t("view.admin.categories.index.categories"),
      admin_categories_path, class: "btn btn-default" %>
      <%= link_to t("view.admin.categories.index.all_users"),
      admin_users_path, class: "btn btn-default" %>
    </div>
  </div>
</div>
