@import "bootstrap-sprockets";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "bootstrap";

#carouselBlk,#header{background: url( asset-path('headerRepeat.png') ) repeat-x 0 0 #f7f7f7;}

#srchFld {background: url( asset-path('search.png') ) no-repeat right 0px #fff;}
#srchFld {height: 29px;}
.icox {height:50px; margin-top:9px;}

.tag {background: url( asset-path('new.png') ) no-repeat 0 0; position: absolute; display:block; top: -4px;right: -18px; height:48px; width:48px;}

#sidebar  li  a{font-weight:bold; background: url( asset-path('tabRepeatInactive.png') ) repeat-x 0 0; color:#262626;}

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.gravatar {
  float: left;
  margin-right: 10px;
}

.gravatar_edit {
  margin-top: 15px;
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  color: #f2dede;
  label {color: #333;}
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 48px;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 19.2px;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: grey;
}

p {
  font-size: 17.6px;
  line-height: 27.2px;
}

.alert {text-align: center;}

.btn_size {width: 100%;}
.btn_size .wd{width: 100%;}

/* Users index */

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid #e6e6e6;
  }
}
