<li>
  <%= gravatar_for user, size: Settings.size_image_min %>
  <%= link_to user.name, user %>
  <% if !current_user? user %>
  <%= t"|" %><%= link_to t("view.admin.user.index.delete"),[:admin,user],
    method: :delete, data: {confirm: t("You sure?")} %>
  <% end %>
</li>
