<%= link_to cart_path, id: "myCart" do %>
  <span><%= current_order.order_items.size %> Items in Cart (<%= number_to_currency current_order.subtotal %>)</span>
  <%= image_tag "ico-cart.png"  %>
<% end %>
