<div id="sidebar" class="span3">
  <div class="well well-small icox">
    <%= link_to "#", id: "myCart" do %>
      <%= image_tag "ico-cart.png" %>
      <span class="badge badge-warning pull-right"></span>
    <% end %>
  </div>
  <ul id="sideManu" class="nav nav-tabs nav-stacked">
    <li class="subMenu open">
      <ul></ul>
    </li>
    <li class="subMenu">
      <ul style="display:none"></ul>
    </li>
  </ul>
  <br/>
  <br/>
  <div class="thumbnail">
    <%= image_tag("payment_methods.png",
      title: "view.layouts.sidebar.payment_methods") %>
    <div class="caption">
      <h5><%= t ".payment_method" %></h5>
    </div>
  </div>
</div>
