<div id="sidebar" class="span3">
  <div class="well well-small icox">
    <div class ="cart-text"><%= render 'layouts/cart_text' %></div>
  </div>
    <div id="MainMenu">
      <div class="list-group panel">
        <% if original %>
        <%= render @categories %>
        <% end %>
      </div>
    </div>
    <br/>
  <br/>
  <div class="thumbnail">
    <%= image_tag("payment_methods.png",title:
    "view.layouts.sidebar.payment_methods") %>
    <div class="caption">
      <h5><%= t ".payment_method" %></h5>
    </div>
  </div>
</div>
